<ion-header>
  <ion-toolbar class="toolbarheader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goEditar()">Editar datos</ion-button>
      <ion-button (click)="goHistorial()">Historial de atenciones</ion-button>
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
    <ion-title class="header-title">
      <a style="color: #000000;" (click)="goHome()" class="logo-link">
        <img src="../../assets/icon/psicoagendalogo.png" alt="Logo" class="header-logo" />
        PsicoAgenda
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Soporte</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-col>
          <ion-select [(ngModel)]="mdl_opcion" (ionChange)="cambiarOpcion()" label="Solicitud"
            label-placement="floating" fill="outline" interface="popover">
            <ion-select-option>Reagendar Hora</ion-select-option>
            <ion-select-option>Cancelar Hora</ion-select-option>
            <ion-select-option>Realizar Consulta</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col *ngIf="formCancelar">
          <ion-select label="Cita" [(ngModel)]="mdl_detalle" label-placement="floating" fill="outline"
            interface="popover" (ionChange)="botonTrue(); botones()">
            <ion-select-option [value]="cita" *ngFor="let cita of lista_citas">Psicologo: {{cita.nombre_psicologo}} /
              Dia: {{cita.fecha}} / Hora: {{cita.hora}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="boton" *ngIf="botonCancelar" (click)="cancelarCita()">Enviar
            Solicitud</ion-button>
        </ion-col>
        <ion-col *ngIf="formReagendar">
          <ion-select [(ngModel)]="mdl_detalle" (ionChange)="botonTrue(); botones()" label="Cita"
            label-placement="floating" fill="outline" interface="popover">
            <ion-select-option [value]="cita" *ngFor="let cita of lista_citas">Psicologo: {{cita.nombre_psicologo}} /
              Dia:
              {{cita.fecha}} / Hora: {{cita.hora}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col *ngIf="botonReagendar">
          <ion-item>
            <ion-datetime displayFormat="MM/DD/YYYY" presentation="date" [(ngModel)]="selectedDate"
              (ionChange)="loadAvailableTimes()"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item *ngIf="horas">
            <ion-text style="margin-left: auto; margin-right: auto;">No hay citas disponibles para el
              día seleccionado</ion-text>
          </ion-item>
          <ion-item *ngIf="fechaAnterior">
            <ion-text style="margin-left: auto; margin-right: auto;" >Seleccione un día
              posterior</ion-text>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="listaReagendar">
          <ion-select [(ngModel)]="mdl_hora" (ionChange)="ultimoBoton()" label="Hora" label-placement="floating"
            fill="outline">
            <ion-select-option [value]="c" *ngFor="let c of availableTimes;">{{ c.HoraCita }}</ion-select-option>
            <ion-alert header="Información" message="Su solicitud ha sido enviada"></ion-alert>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="boton" *ngIf="botonFinal" (click)="reagendarCitaFinal()">Reagendar
            Cita</ion-button>
        </ion-col>
        <ion-col *ngIf="formConsulta">
          <ion-input [(ngModel)]="mdl_asunto" label="Asunto" label-placement="floating" fill="outline"
            type="text"></ion-input>
        </ion-col>
        <ion-col *ngIf="formConsulta">
          <ion-textarea [(ngModel)]="mdl_mensaje" [autoGrow]="true" label="Mensaje" labelPlacement="floating"
            fill="outline" type="text"></ion-textarea>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="boton" (click)="enviarConsulta()" *ngIf="formConsulta">Enviar
            Consulta</ion-button>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="footer-left">
        <p>©2024 - PsicoAgenda APP</p>
        <p>Todos los Derechos Reservados</p>
      </div>
      <div class="footer-right">
        <p class="logo-link"><ion-icon class="header-logo" name="call-outline"></ion-icon>Teléfono Contacto: 920256865
        </p>
        <p class="logo-link"><ion-icon class="header-logo"
            name="logo-instagram"></ion-icon>www.instagram.com/psicoagenda</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-alert [isOpen]="isAlertOpen" header="Información" message="Su solicitud ha sido enviada" [buttons]="alertButtons"
  (didDismiss)="setOpen(false)">
</ion-alert>

<ion-alert [isOpen]="isAlertOpen2" header="Información"
  message="Error al procesar solicitud, intentar nuevamente mas tarde" [buttons]="alertButtons"
  (didDismiss)="setOpen(false)">
</ion-alert>

<ion-alert [isOpen]="isAlertOpen3" header="Información" message="Cita reagendada correctamente" [buttons]="alertButtons"
  (didDismiss)="setOpen(false)">
</ion-alert>

<ion-alert [isOpen]="isAlertOpen4" header="Información" message="No hay registros" [buttons]="alertButtons"
  (didDismiss)="setOpen4(false)">
</ion-alert>

<ion-alert [isOpen]="isAlertOpen5" header="Información" message="No puede dejar campos vacios" [buttons]="alertButtons"
  (didDismiss)="setOpen5(false)">
</ion-alert>