ion-footer {
  --background: var(--ion-footer-background); /* Usa el fondo oscuro definido */
  color: var(--ion-footer-text-color); /* Asegura que el texto sea blanco */
  width: 100%; /* Asegura que ocupa todo el ancho */
  padding: 0; /* Elimina cualquier padding interno que podría afectar el ancho */
  box-sizing: border-box; /* Asegura que el padding y border no afecten el ancho total */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Esto asegura que el footer se mueva con el contenido */
}

.search-bar-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Alinea verticalmente */ /* Espacio alrededor del contenedor de búsqueda */
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ion-footer {
    ion-toolbar {
      display: flex;
      align-items: center; /* Alinea verticalmente los elementos dentro de ion-title */
      justify-content: center;
      align-items: center;
      --background: #333; /* Si quieres mantener este color para el footer, está bien */
      color: #fff; /* Esto hará que el texto dentro del footer sea blanco */
      padding: 1.5rem;
      font-size: 0.8rem;
      text-align: center;
    }
  
    .footer-content {
      display: flexbox;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .footer-left {
      flex: 1; /* Ocupa el espacio disponible */
      text-align:center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .footer-right {
      text-align: right;
      position: absolute;
    }
  
    /* Para los enlaces dentro del footer */
    .footer-right a {
      color: var(--ion-text-color); /* Color del texto para los enlaces */
      text-decoration: none; /* Elimina el subrayado de los enlaces */
    }
  
    /* Eliminar la clase 'button' para que no afecte a los iconos */
    .footer-right ion-icon {
      --color: var(--ion-text-color); /* Restablece el color del icono */
    }
  }
  
  ion-icon {
    font-size: 2em; /* Tamaño de ícono más grande */ /* Espacio entre el icono y el texto */
    color: #009688; /* Asegúrate de que el color sea el definido para el texto */
    width: 24px; /* Ajusta el tamaño del icono si es necesario */
    height: 24px; /* Ajusta el tamaño del icono si es necesario */
  }

  ion-toolbar {
    --padding-start: 16px;
    --padding-end: 16px;
    --background: #32E0C4;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-card {
    width: 90%;  /* Ajusta el ancho de la tarjeta */
    max-width: 500px; /* Establece un ancho máximo */
    margin-bottom: 20px; /* Espacio entre tarjetas */
  }
  
  ion-card-header {
    padding: 10px 20px; /* Espacio interno para el encabezado */
  }
  
  ion-card-content {
    padding: 10px 20px;
    
  }

  .custom-card ion-card-header, .custom-card ion-card-content {
    padding-left: 8px;  /* Reduce el relleno izquierdo para mover el texto hacia la izquierda */
  }

  ion-content-divider {
    --padding-start: 0px;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples líneas si hay muchos */
    /* Espacio opcional por encima de los botones para mejorar el diseño */
    margin-bottom: 1.5rem;
  }

  .botonagenda {
    --background: #027f99;
    text-transform: capitalize;
  }

  .imagen_carga {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;

  }

  ion-select {
    max-width: 200px;
    align-self: center;
    --background: #027f99;
    color: white;
    --border-radius: 3px;
    --boder-color: black;
    margin-left: 1%; margin-right: 1%;
    --placeholder-opacity: 1 !important;
  }
