<ion-header>
  <ion-toolbar class="toolbarheader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Entrar</ion-button>
      <ion-button (click)="redirectTo('/registropaciente')">Registrarse</ion-button>
      <ion-button (click)="toggleOptions()">Profesionales</ion-button>
    </ion-buttons>
    <ion-title class="header-title">
      <a style="color: #000000;" routerLink="/home" class="logo-link">
        <img src="../../assets/icon/psicoagendalogo.png" alt="Logo" class="header-logo" />
        PsicoAgenda
      </a>
    </ion-title>
  </ion-toolbar>
    <ion-list class="opciones-lista" *ngIf="showOptions">
      <ion-button class="opciones-item" (click)="redirectTo('/login')">Ingresa</ion-button>
      <ion-button class="opciones-item" (click)="redirectTo('/registropsico')">Registrate</ion-button>
    </ion-list>
</ion-header>

<ion-content >
  <ion-img class="center-content" src="../../../assets/icon/404.png">
  </ion-img>
  <ion-text class="center-content">PAGINA NO ENCONTRADA</ion-text>
  <ion-button routerLink="/home" class="center-content">Volver al Inicio</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-content">
      <div class="footer-left">
        <p>©2024 - PsicoAgenda APP</p>
        <p>Todos los Derechos Reservados</p>
      </div>
      <div class="footer-center">
        <!-- Aquí puedes agregar el contenido del bloque central -->
      </div>
      <div class="footer-right">
        <p class="logo-link"><ion-icon class="header-logo" name="call-outline"></ion-icon>Teléfono Contacto: 920256865
        </p>
        <p class="logo-link"><ion-icon class="header-logo"
            name="logo-instagram"></ion-icon>www.instagram.com/psicoagenda</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
