/* General styles */
:root {
    --ion-color-primary: #4a90e2; /* Cambia esto al color primario de tu marca */
  }
  
  ion-header {
    --background: #ffffff; /* Fondo del header */
  }
  
  ion-toolbar {
    --padding-start: 16px;
    --padding-end: 16px;
    --background: #ffffff;
  }
  
  /* Estilos para el footer */
  ion-footer {
    ion-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      --background: #333; /* Si quieres mantener este color para el footer, está bien */
      color: #fff; /* Esto hará que el texto dentro del footer sea blanco */
      padding: 1rem;
      font-size: 0.8rem;
      text-align: center;
    }
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .footer-left {
      flex: 1; /* Ocupa el espacio disponible */
      text-align: center;
    }
  
    .footer-right {
      text-align: right;
    }
  
    /* Para los enlaces dentro del footer */
    .footer-right a {
      color: var(--ion-text-color); /* Color del texto para los enlaces */
      text-decoration: none; /* Elimina el subrayado de los enlaces */
    }
  
    /* Eliminar la clase 'button' para que no afecte a los iconos */
    .footer-right ion-icon {
      --color: var(--ion-text-color); /* Restablece el color del icono */
    }
  }
  
  /* Estilos para los iconos */
  ion-icon {
    font-size: 2em; /* Tamaño de ícono más grande */
    margin-right: 8px; /* Espacio entre el icono y el texto */
    color: #009688; /* Asegúrate de que el color sea el definido para el texto */
  }
  
  /* Estilos específicos para la página de inicio de sesión */
  .login-container {
    max-width: 400px; /* Ancho máximo del contenedor de inicio de sesión */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 2rem; /* Espaciado interno */
    --background: #00BFA6; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 12.5%;
  }
  
  ion-card {
    --background: #00BFA6;
    --color: black;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }


  /* Estilos para los campos de entrada */
  ion-item {
    margin-bottom: 1rem;
    border-radius: 10px;  
    --background: #EEEEEE;
    --border-color: #EEEEEE;
  }
  
  /* Estilos para el botón de ingreso */
  ion-button {
    margin-top: 1rem;
    --background: #009688; 
    --color: #fff;
  }
  
  ion-content{
    --background: url(../../../assets/icon/fondo_final_login.png) no-repeat center center / cover;
  }

  ion-img {
    width: 5rem;
    margin: 0 auto;
  }
  
  ion-input {
    --background: #EEEEEE;
    --border-color: #EEEEEE;
  }


  

