<ion-header>
  <ion-toolbar class="toolbarheader">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Entrar</ion-button>
      <ion-button (click)="redirectTo('/registropaciente')">Registrarse</ion-button>
      <ion-button (click)="toggleOptions()">Profesionales</ion-button>
    </ion-buttons>
    <ion-title class="header-title">
      <a style="color: #000000;" routerLink="/home" class="logo-link">
        <img src="../../assets/icon/psicoagendalogo.png" alt="Logo" class="header-logo" />
        PsicoAgenda
      </a>
    </ion-title>
  </ion-toolbar>
    <ion-list class="opciones-lista" *ngIf="showOptions">
      <ion-button class="opciones-item" (click)="redirectTo('/login')">Ingresa</ion-button>
      <ion-button class="opciones-item" (click)="redirectTo('/registropsico')">Registrate</ion-button>
    </ion-list>
</ion-header>




<ion-content>
  <!-- Banner principal -->
  <div class="main-banner">
    <h1>Encuentra tu Psicólogo</h1>
    <p>Aquí podrás encontrar ayuda de diferentes profesionales
      <br>con diversas especialidades en psicología
    </p>
      <ion-button (click)="buscar()">Ir al Buscador</ion-button>
  </div>
  <br>
  <div class="titulo">
    <h1>Pacientes y Psicologos</h1>
    <p>Revisa algunos testimonios de los pacientes y psicologos</p>
  </div>
  <div class="container">
    <ion-card class="card_testimonio" *ngFor="let testimonial of testimonials">
      <ion-img class="imagen_usr" src="../../../assets/icon/User_Circle.png"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ testimonial.author }}</ion-card-title>
        <ion-card-subtitle>{{ testimonial.role }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ testimonial.quote }}
      </ion-card-content>
    </ion-card>
  </div>
  <br>
  <br>
  <!-- Footer -->
  <ion-footer>
    <ion-toolbar>
      <div class="footer-content">
        <div class="footer-left">
          <p>©2024 - PsicoAgenda APP</p>
          <p>Todos los Derechos Reservados</p>
        </div>
        <div class="footer-center">
          <!-- Aquí puedes agregar el contenido del bloque central -->
        </div>
        <div class="footer-right">
          <p class="logo-link"><ion-icon class="header-logo" name="call-outline"></ion-icon>Teléfono Contacto: 920256865
          </p>
          <p class="logo-link"><ion-icon class="header-logo"
              name="logo-instagram"></ion-icon>www.instagram.com/psicoagenda</p>
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>